$size: 300px;

.server_card {
  width: $size;
  height: $size;
  position: relative;
  padding: 5px 20px;
  background: #f0f0f0;
  margin: 30px;
  float: left;
  text-align: center;
}

.server_status {
  width: $size/10;
  height: $size/10;
  @extend .green;
  border-radius: $size/10;
  position: absolute;
  top: $size/20;
  right: $size/20;
}

.server_address {
  margin: 15px auto 0 auto;
}

.server_version {
  margin: -20px 0 0 0;
  font-size: 15px;
}

.btn_play {
  margin-top: 20px;
}

.server_card .progress{
  margin: 10px 0 2px 0;
}

.map {
  float: left;
}

.vote {
  float: right;
}

.bottom_btns {
  font-size: 20px;
  margin-top: 10px;
}