/* Cards */

.server_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  .server_card {
    margin: 10px 50px 0 50px;
  }
}

.server_card {
  @extend .white, .z-depth-2, .center;
  height: 250px;
  width: 250px;
  position: relative;
}

.card_top_line {
  @extend .white-text;
  width: 100%;
  height: 25px
}

.card_img {
  height: 98px;
  background-size: cover;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.card_bottom {
  padding: 0 15px;
  margin-top: 5px;
}

.online {
  @extend .green, .lighten-1;
}

.offline {
  @extend .red, .accent-2;
}

.server_status {
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background: #fff;
  border: 5px solid #fff;
  position: absolute;
  right: 20px;
  top: 107px;
}

/* Custom colors */

.minecraft {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .teal;
  }

  .card_img {
    border-bottom: 2px solid color("teal", "base");
  }
}

#minecraft {
  outline: 2px solid color("teal", "base");
}

.rust {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .red;
  }

  .card_img {
    border-bottom: 2px solid color("red", "base");
  }
}

#rust {
  outline: 2px solid color("red", "base");
}

.starbound {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .cyan;
  }

  .card_img {
    border-bottom: 2px solid color("cyan", "base");
  }
}

#starbound {
  outline: 2px solid color("cyan", "base");
}

.grav {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .green;
  }

  .card_img {
    border-bottom: 2px solid color("green", "base");
  }
}

#grav {
  outline: 2px solid color("green", "base");
}

.ark {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .amber;
  }

  .card_img {
    border-bottom: 2px solid color("amber", "base");
  }
}

#ark {
  outline: 2px solid color("teal", "amber");
}

.dtd {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .grey;
  }

  .card_img {
    border-bottom: 2px solid color("grey", "base");
  }
}

#dtd {
  outline: 2px solid color("grey", "base");
}

.lif {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .blue-grey;
  }

  .card_img {
    border-bottom: 2px solid color("blue-grey", "base");
  }
}

#lif {
  outline: 2px solid color("blue-grey", "base");
}

.empyrion {
  .card_top_line, .progress, .determinate, .btn-large {
    @extend .brown;
  }

  .card_img {
    border-bottom: 2px solid color("brown", "base");
  }
}

#empyrion {
  outline: 2px solid color("brown", "base");
}

/* Parallax page */

.first_parallax {
  height: 400px;
}

.section {
  height: 750px;

  p {
    @extend .grey-text, .text-darken-3, .lighten-3;
  }
}

.navigation_bar {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -260px;
  z-index: 1;
  width: 60px;
  border-radius: 40px;
}

.nav_link {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
  }
}

/* Server list page */

.server_list_head {
  font-size: 3em;
}

.server_list_page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .server_card {
    margin: 15px;
  }
}

.footer_img {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 7px;

  img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
}

#server_ip {
  float: left;
  width: 60%;
}

.server_ip_btn {
  float: left;
}

.slider {
  float: left;
  width: 475px;
}