
/* Variables */

$size: 300px;

/* Header */

.header_fixed {
  width: 100%;
  height: 40%;
  position: fixed;
  @extend .red;
  @extend .lighten-2;
}

.head_logo {
  margin: 30px auto 30px auto;
}

.logo, .title {
  position: relative;
}

.logo img, .title img {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

 /* News container */
.news_container {
  position: relative;
  background: #fff;
}

.news_project, .news_games {
  height: 40px;
  line-height: 40px;
  @extend .center;
  @extend .white-text;
  cursor: pointer;
}

.news_project .card-title {
  @extend .grey-text;
}

/* Server cards */

.server_card {
  min-width: $size;
  min-height: $size;
  position: relative;
  padding: 5px 20px;
  background: #fff;
  float: left;
  text-align: center;
  @extend .hoverable;
}

.card_wrapper {
  padding: 15px;
}

.server_status {
  width: $size/10;
  height: $size/10;
  @extend .green;
  border-radius: $size/10;
  position: absolute;
  top: $size/20;
  right: $size/20;
}

.server_address {
  margin: 15px auto 0 auto;
}

.server_version {
  margin: -20px 0 0 0;
  font-size: 15px;
}

.btn_play {
  margin-top: 20px;
}

.server_card .progress{
  margin: 10px 0 2px 0;
}

.map .material-icons, .vote .material-icons {
  @extend .tiny;
}

.map {
  float: left;
}

.vote {
  float: right;
}

.bottom_btns {
  font-size: 20px;
  margin-top: 30px;
}

/* Footer */

footer {
  height: 1000px;
}