
.header_fixed {
  width: 100%;
  height: 40%;
  position: fixed;
  @extend .red, .lighten-2;
}

.btn_top{
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
}

.head_logo {
  margin: 30px auto 30px auto;
}

.logo, .title {
  position: relative;
}

.logo img, .title img {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

 /* News container */
.news_container {
  position: relative;
  background: #fff;
  padding-bottom: 1px;
}

.news_project, .news_games {
  height: 40px;
  line-height: 40px;
  @extend .center, .white-text;
  cursor: pointer;
}

.news_project .card-title {
  @extend .grey-text;
}

.news_container  .pagination {
  margin-bottom: 10px;
}