/***************
    Nav List
***************/
.table-of-contents {
  &.fixed {
    position: fixed;
  }

  a {
    display: inline-block;

    &:hover {
      transform: scale(1.5);
    }
    &.active {
      transform: scale(1.5);

      img {
        @extend .z-depth-3;
      }
    }
  }
}
