/***************
    Nav List
***************/
.table-of-contents {
  &.fixed {
    position: fixed;
  }

  a {
    display: inline-block;

    &:hover {
      transform: scale(1.5);

      &:after {
        position: absolute;
        left: -70px;
        color: #000;
        //content:"Minecraft";
      }
    }
    &.active {
      transform: scale(1.5);

      img {
        @extend .z-depth-3;
      }
    }
  }
}
